#cuadro{

    width: 40px;
    height: 60px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #0047FF;

}

.titulo{

    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
}

#cuadro, .titulo {
    display: inline-block;
    vertical-align: middle;
}

#cuadro2{

    width: 20px;
    height: 60px;
    margin-left: 10px;
    background-color: #FFD700; 

}

.titulo2{
    
    margin-right: 50px;
    font-size: 35px;
    font-weight: bold;
    color: black;
   
}

#cuadro2, .titulo2 {
    display: inline-block;
    vertical-align: middle;
}

#variedad{

    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: black;;
}

.novedad {
    
    display: flex;
    width: 1000px;
    height: 400px;
    border: 3px solid black;
    box-shadow: #0035C5 7px 5px;
    margin: 20px 10px;
    overflow: hidden;

}

.productos2{

    display: flex;
}

.prod-dos{

    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: #705D00 7px 5px;
}

.prod2{

    width: 100%;
    height: 140px;          /* ajusta este valor */
    overflow: hidden;       /* recorta lo que sobra */
}

.img-novedad {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.des {

    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.info {
    padding: 15px;
    flex: 1;
}

#brocheta{

    font-weight: bold;
    color: #0047FF;
    font-size: 20px;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}

.precio {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #FFD700;
    padding-right: 300px;


    display: inline-block;      
    padding: 6px 12px;          
    border-radius: 8px;        
    align-self: flex-end;     
}

.boton{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}

.boton2{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}

.img2{

    width: 100%;
    height: 140px;
    display: block;
    object-fit: cover;
}


.papascrema{

    display: flex;
    color: #705D00;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}

.textt{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1px;
}

.boton-secundario2{

    background-color: #705D00;;
    color: rgb(255, 255, 255);
    box-shadow: black 4px 5px;

}


/*************************************************/
.salsas{

    display: flex;
    align-items: center; 
    gap: 10px;   
}

#cuadrosalsas{

    width: 40px;
    height: 60px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #B13300;
}

.salsas2{

    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.img3{

    width: 100%;
    height: 100%;
    object-fit: cover;      /* rellena sin deformar */
    display: block;
}

.prod3{

    width: 140px;
    height: 140px;          
    overflow: hidden; 
    border-radius: 50%;
}

/****************************************/

.bebidas{

    display: flex;
    align-items: center; 
    gap: 10px;   
}

#cuadrobebidas{

    width: 40px;
    height: 60px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #705D00;
}






