.button {
    background-color: var(--primary);
    color: var(--primary-content);
    border: none;

    padding: var(--size-4) var(--size-6);
    border-radius: var(--radius-md);
    font-size: var(--text-sm);

    cursor: pointer;
}

.button:disabled {
    background-color: var(--disabled);
    color: var(--disabled-content);
    cursor: initial;
}

.button:disabled:hover {
    background-color: var(--disabled);
    cursor: initial;
}

.primary {
    background-color: var(--primary);
    color: var(--primary-content);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.secondary {
    background-color: var(--secondary);
    color: var(--secondary-content);
}

.secondary:hover {
    background-color: var(--secondary-hover);
}

.destructive {
    background-color: var(--error);
    color: var(--error-content);
}

.destructive:hover {
    background-color: var(--error-hover);
}

.icon {
    background: none;
    border: var(--size-px) solid var(--border);

    aspect-ratio: 1 / 1;
    padding: var(--size-2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    background-color: var(--base-200);
}